@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    background-color: #FFFFFF ;
}

header img {
    padding: 10px 0 10px 20px ;
    vertical-align: middle;
    width: 80px;
}

header div {
    display: inline-block;
    vertical-align: middle;
}

body {
    background-color: #F7F8F9
}
#text-logo {
    font-size: 40px ;
    font-family: Roboto;
    font-weight: bold;
    color: black;    
}

.container-80 {
    background-color: #FFFFFF;
    width: 80%;
    margin: 10% auto;
}

section {
    background-color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
    padding: 10px;

}
section div {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.box-task {
    background-color: #47ACF2;
    color:#FFFFFF
}
.box-section{
    background-color: #FFFFFF;
    border: 1px solid #C5CBCF;
    color: #C5CBCF;
}
hr {
   border: 1px solid  #F7F8F9;

}
.test {
    width: 80%;
    margin: 10px auto;
}

div p{
    margin: 15px auto;
}


.box-check {
    color: #64C0A9 ;
    border: 1px solid #64C0A9;
    border-radius: 50%;
    
}
.box-editorial {
    font-size: 15px;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 30px;
}

.blu {
    background-color: #47ACF2;
}

.purple {
    background-color: #9B72E5 ;